.button  {
  display: inline-block;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 30px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
}

.button-green  {
  background: #44b348;
  color: #fff;
  float: right;
  margin-right: 17%;
  border-radius: 15px;
}

.button-blue  {
  background: #612685;
  color: #fff;
}

@media (max-width: 640px) {
  .button-green  {
    float: none;
  }
}

@media (max-width:  360px) {
  .button-green  {
    float: none;
  }
}
